# Ignore everything
/*

# Except these files & folders
!/src
!index.html
!package.json
!tailwind.config.js
!tsconfig.json
!tsconfig.node.json
!vite.config.ts
!.prettierrc
!README.md
!eslint.config.js
!postcss.config.js

# Ignore auto generated routeTree.gen.ts (single-package layout: lives under src/client)
/src/client/routeTree.gen.ts